.enunciado{
    /* Estilo temporal */
    background-color: #d8d8d8;
    padding: 1rem;
    border-radius: 9px;
}

.informationBox {
  border: 3px solid #000;
  width: 300px;
  min-height: 150px;
  padding: 20px 15px;
}