* {
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #212121;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

nav #logo {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 15px 10px;
  height: 100%;
}

nav #containerNav {
  margin-left: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

nav #containerNav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 20px 10px;
  height: 100%;
}

nav #containerNav a:hover {
  background-color: #FFFFFF;
  color: #212121;
}

main #containerCards {
  padding: 35px 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

main #containerCards .card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding: 15px 10px;
  min-height: 150px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

main #containerCards .card div h3 {
  display: block;
  text-decoration: none;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  background-color: #212121;
}

footer h3 {
  color: white;
}

.pink {
  background-color: #E91E63;
  color: #fff;
}

.purple {
  background-color: #9C27B0;
  color: #fff;
}

.orange {
  background-color: #FFC107;
  color: #fff;
}

.blue {
  background-color: #03A9F4;
  color: #fff;
}
